<<<<<<< .merge_file_a04896
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
=======
<ol class='post-list'>
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
>>>>>>> .merge_file_a08460
</ol>