<<<<<<< HEAD
=======
<<<<<<< .merge_file_a04896
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
=======
>>>>>>> develop
<ol class='post-list'>
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
<<<<<<< HEAD
=======
>>>>>>> .merge_file_a08460
>>>>>>> develop
</ol>